// 스타일시트 임포트
@import "reset";
@import "variables";
@import "highlights";
@import "svg-icons";

// 기본 HTML 스타일
html {
  font-size: 100%;
  background: linear-gradient(to left, #ece9e6, #ffffff);
  background-size: 2000px;
}

/* Body 스타일 */
body {
  background-color: #8B00FF;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Masthead 스타일 */
.wrapper-masthead {
  margin-bottom: 50px;
  overflow: hidden;

  .masthead {
    background-color: #9932CC;
    padding: 20px 0;
    border-bottom: 1px solid #fff;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;

    .site-avatar, .site-info {
      grid-column: 1;
    }

    nav {
      grid-column: 2;
    }

    .site-name a, .site-description {
      color: #fff;
    }

    nav a {
      color: #fff;
    }
  }
}

/* Main content 스타일 */
.container-main {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

/* Footer 스타일 */
.wrapper-footer {
  background: linear-gradient(-90deg, #e9defa 0%, #fbfcdb 95%);
  display: flex;
  margin-top: 20px;
  padding: 10px;

  .footer {
    color: #8B00FF;
  }

  .container {
    margin: 0 auto;
    max-width: 940px;
    padding: 0 10px;
    width: 100%;
    display: table-footer-group;
  }
}

.container-main, .container-post {
  margin: 0 auto;
  max-width: 940px;
  padding: 0 10px;
  width: 100%;
}

.container-post {
  margin-left: 345px;
}

// 나머지 스타일...

// 헤딩, 문단, 내비게이션, 포스트, 푸터 등의 나머지 스타일
